#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 7vh;
}

#accounts {
    display: flex;
    flex-direction: row;
    color: black;
    height: 7vh;
    justify-content: center;
    align-items: center;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 7vw;
    border: 1px solid dimgrey;
    border-radius: 1vh;
    background-color: white;
    margin-right: 1vw;
}

#login > a {
    font-size: 3vh;
    text-decoration: none;
    color: black;
}

#login:hover {
    background-color: lightgrey;
}

#signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 7vw;
    border-radius: 1vh;
    background-color: black;
}

#signup > a {
    font-size: 3vh;
    text-decoration: none;
    color: white;
}

#signup:hover {
    background-color: #333;
}

#colour {
    background-color: var(--backgroundColour);
    color: var(--colour);
    display: flex;
    flex-direction: column;
    height: 93vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#prompt {
    font-size: 5vh;
}

#input-field {
    background-color: dimgrey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
    height: 10vh;
    width: 25vw;
    font-size: var(--fontSize);
    margin-bottom: 1vh;
}

#guess {
    border: none;
    background-color: dimgrey;
    color: var(--colour);
    height: 7vh;
    width: 20vw;
    font-size: var(--fontSize);
}

#guess:focus {
    outline: none;
}

#submit #retry {
    background-color: dimgrey;
    height: 7vh;
    width: 25vw;
    font-size: 5vh;
    border-radius: 1vh;
    margin-bottom: 1vh;
}

#guess-colour {
    height: 35px;
    width: 35px;
    border: 3px solid var(--colour);
    border-radius: 35px;
    background-color: var(--guessColour);
}

.results {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}