#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#colour {
    background-color: var(--backgroundColour);
    color: var(--colour);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#prompt {
    font-size: 5vh;
}

#input-field {
    background-color: dimgrey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
    height: 10vh;
    width: 25vw;
    font-size: 5vh;
    margin-bottom: 1vh;
}

#guess {
    border: none;
    background-color: dimgrey;
    color: var(--colour);
    height: 7vh;
    width: 20vw;
    font-size: 5vh;
    
}

#guess:focus {
    outline: none;
}

#submit {
    background-color: dimgrey;
    height: 7vh;
    width: 25vw;
    font-size: 5vh;
    border-radius: 1vh;
}